@page "/"

<PageTitle>🍜Jon & Beth's Noodle Shop🍜</PageTitle>

<h1>🍜Jon & Beth's Noodle Shop🍜</h1>
<img class="img-fluid" src="/header-image.jpg" />
<figure class="text-center">
    <blockquote class="blockquote">
        <p>It's ramen</p>
        <p>A big bowl of with noodles</p>
        <p>It has the broth</p>
        <p>I can't imagine a more beautiful thing</p>
    </blockquote>
</figure>
